body{
	background:#f4f4f4;
}
.about-footer {
  text-align: justify;
    margin: 50px 0 100px 0px;
}

.header{
	border-bottom:3px #ccc solid;
}

.social{
	float:right;
	padding-top:25px;
}

.social img{
	width:40px;
}

.showcase{
	padding:40px 0;
	height:400px;
	margin-bottom:20px;
	background: #f4f4f4 url('../img/showcase.jpg') no-repeat top center;
	border-bottom:3px #ccc solid;
}

.showcase h1{
	font-size:50px;
}

.showcase p{
	font-size:22px;
	width:90%;
}

.boxes{
	text-align: center;
    padding: 60px 0 200px 0;
}

.boxes i {
	font-size: 50px;
	text-align: center;
	margin:auto;
	display:block;
}


header{
    margin-bottom: 50px;
}

footer{
	background:#333;
	color:#fff;
	text-align: center;
	height:80px;
	padding-top:30px;

}
.services-footer{
    margin:60px 0 200px 0;
}
.contact-footer{
    margin:60px 0 400px 0;
}
.margin-bottom{
	margin-bottom:20px;
}

.side-menu h4{
	background:#42a5db;
	color:#fff;
	padding:8px;
}

.accordion .accordion-navigation > a:hover, .accordion dd > a:hover, .accordion .accordion-navigation.active > a, .accordion dd.active > a{
	background:#333;
	color:#fff;
}

.accordion .accordion-navigation > a, .accordion dd > a{
	background:#42a5db;
	color:#fff;
}